/* Laptop 1440px */

@media (max-width: 1440px){

    .nav2{
        gap: 250px;
    }
    .redes1{
        margin-right: 20px;
    }
    .nosotros1{
        margin: 100px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .nosotros2{
        margin-top: 190px;
    }

    .ubicacion h2{
        top: 159%;
    }

    .ubicacion2 p{
        top: 166%;
        font-size: 26px;
    }

    .filosofia{
        margin-left: 180px;
        margin-right: 180px;
    }

    .boton1{
        margin-left: 530px;
        margin-right: 530px;
    }

    /* producto */
    .tiponuez2{
        width: 200px;
        height: 150px;
    }


    .fichatec{
        margin-left: 530px;
        margin-right: 530px;
    }

    .almendras{
        margin-left: 180px;
        margin-right: 135px;
    }

    .almendras div img{
        width: 450px;
        margin-top: 100px;
        margin-left: 70px;

    }

    .mixs2{
        margin-left: 120px;
    }
    .origen1 p{
        font-size: 20px;
    }

    .origen1 img{
        width: 350px;
        margin-top: 110px;
    }

    .proceso{
        margin-top: 130px;
    }

    .proceso1 img{
        width: 330px;
    }

    .procplanta2{
        max-width: 180px;
    }

    .procplanta1{
        justify-content: left;
        gap: 97px;
    }

}

/* Laptop 1024px  */

@media(max-width: 1024px){
    .logo{
        width: 200px;
        height: 30px;
        margin: 18px;
        margin-top: 25px;
    }

    .nav2{
        gap: 140px;
    }
    .redes1{
        margin-right: 30px;
        margin-top: 25px;
    }
    .links{
        margin-right: 60px;
    }
    .links a{
        font-size: 18px;
    }
    .nosotros h1{
        font-size: 44px;
    }

    .nosotros1{
        margin: 40px;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .nosotros2{
        margin-top: 100px;
    }
    .nosotros3 img{
        width: 400px;
        height: 450px;
        margin-top: 100px;
    }

    .ubicacion h2{
        top: 114%;
    }

    .ubicacion p{
        top: 119%;
        font-size: 20px;
    }

    .filosofia{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .boton1{
        margin-left: 330px;
        margin-right: 330px;
    }
    .productos h2{
        font-size: 34px;
    }
    .productos p{
        font-size: 18px;
    }

    .productos2{
        margin-left: 50px;
        margin-right: 50px;
    }
    .productos3{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .productos3 h2{
        font-size: 34px;
    }

    .productos4 img{
        width: 300px;
        height: 200px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .tiponuez1{
        gap: 50px;
        align-items: center;
        margin-bottom: 200px;
    }

    .tiponuez2 img{
        width: 150px;
        height: 150px;
        margin-left: 23px;
    }

    .tiponuez2 p{
        font-size: 20px;
    }

    .fichatec{
        margin-left: 380px;
        margin-right: 380px;
    }
    .almendras{
        margin-left: 100px;
        margin-right: 100px;
        gap: 30px;
        margin-bottom: 200px;
    }
    .almendras div img{
        width: 350px;
        margin-top: 180px;
    }
    .mixs{
        margin-left: 100px;
    }

    .mixs2 img{
        height: 400px;
        width: 250px;
    }
    .mixs2{
        gap: 60px;
        margin-left: 90px;
    }
    .mixs3{
        margin-bottom: 24px;
    }


    .origen1{
        margin-left: 70px;
        margin-right: 70px;
    }

    .origen{
        font-size: 30px;
    }
    .origen1 p{
        font-size: 20px;
    }

    .origen1 div img{
        width: 250px;
        margin-top: 150px;
    }

    .proceso{
        margin-left: 70px;
        font-size: 30px;

    }
    .proceso1{
        gap: 30px;
    }
    .proceso1 div img{
        width: 280px;
    }

    .procplanta{
        margin-left: 70px;
        font-size: 30px;

    }

    .procplanta1{
        gap: 24px;
    }
    .procplanta2 img{
        max-width: 200px;
    }
    .contactos{
        margin-left: 50px;
        margin-right: 50px;
    }

    .contactos div iframe{
        height: 550px;
    }
}

@media (max-width: 768px){

    
    .links{
        flex-direction: column;
    }

    .redes1{
        margin-right: 60px;
    }


    .logo{
        width: 130px;
        height: 20px;
    }
    .links li a{
        font-size: 18px;
    }
    .nosotros h1{
        font-size: 30px;
    }
    .nosotros1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: none;
    }

    .nosotros2 h2{
        text-align: center;
    }

    .nosotros2 p{
        text-align: center;
    }

    .nosotros2{
        margin-bottom: none;
    }
    .nosotros3 img{
        margin-top: 10px;
        height: 400px;
    }

    .ubicacion h2{
        top: 138%;
        font-size: 22px;
    }

    .ubicacion p{
        top: 142%;
        font-size: 16px;
    }
    .filosofia{
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        gap: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .filosofia1{
        border-right: none;
        border-bottom: 3px solid #b38143;
        text-align: center;
        padding-right: 1px;
        padding-bottom: 20px;

    }
    .filosofia2{
        text-align: center;
        
    }

    .boton1{
        margin-left: 200px;
        margin-right: 200px;
    }

    .productos2{
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }
    .productos4 img{
        margin-top: 1px;
        margin-left: none;
    }

    .tiponuez1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 100px;
        margin-left: 100px;
    }

    .fichatec{
        margin-left: 200px;
        margin-right: 200px;
    }

    .almendras{
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        margin-right: 100px;
        align-items: center;
        gap: 1px;

    }
    .almendras-descripcion{
        border-bottom: #b38143 solid 3px;
        padding-bottom: 50px;
        text-align: center;
    }

    .almendras h3{
        border-right: none;
        margin-top: 10px;
    }
    .almendras p{
        border-right: none;
    }
    .almendras div img{
        padding: none;
        margin: none;
        margin-right: 55px;
        margin-top: 50px;
    }
    .mixs{
        margin-bottom: 20px;
    }
    .mixs2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 200px;
        margin-bottom: 1400px;
    }

    .origen1{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .origen1 h2{
        text-align: center;
    }
    .origen1 p {
        font-size: 18px;
        text-align: center;
    }
    .origen1 img{
        margin-right: 100px;
    }
    .proceso{
        text-align: center;
        margin-left: 0px;
    }
    .proceso1{
        flex-direction: column;
        align-items: center;
    } 

    .procplanta{
        text-align: center;
        margin-left: 0px;
    }

    .procplanta1{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap:10px;
        margin-left: 120px;
    }

    .procplanta2 img{
        height: 150px;
    }

    .planta5{
        margin-left: 200px;
    }

    .contactos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .contactos div iframe{
        margin-right: 0px;
    }
    .redes1{
        justify-content: center;
    }

    .foot2 p{
        font-size: 18px;
    }
}

@media(max-width: 425px){

    .nosotros h1{
        font-size: 16px;
    }

    .nosotros2 h2{
        font-size: 20px;
    }

    .nosotros2 p{
        font-size: 16px;
    }
    .nosotros3 img{
        width: 250px;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 1px;
        margin-bottom: 5px;
    }

    .nosotros2{
        margin-top: 20px;
        gap: 3px;
    }

    .ubicacion h2{
        top: 103%;
        font-size: 12px;

    }
    .ubicacion2 p{
        top: 105%;
        left: 46%;
        font-size: 8px;
    }
    .filosofia{
        margin-left: 10px;
        margin-right: 10px;
        justify-content: left;
        align-items: left;
        margin-bottom: 60px;
    }

    .filosofia1 h2{
        font-size: 18px;
        text-align: left;
    }
    .filosofia1 p{
        font-size: 14px;
        text-align: left;
    }

    .filosofia2 h2{
        font-size: 18px;
        text-align: left;
    }

    .filosofia2 p{
        font-size: 14px;
        text-align: left;
    }

    .boton1{
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .Productos{
        margin-top: 0%;
    }

    .Productos h2{
        font-size: 20px;
    }

    .Productos p{
        font-size: 16px;
    }

    .productos2 h2{
        font-size: 20px;

    }

    .productos3 p{
        font-size: 16px;
        padding-right: 20px;
    }

    .tiponuez h2{
        font-size: 20px;
    }

    .tiponuez1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        margin-bottom: 120px;
    }
    .fichatec{
        margin-left: 100px;
        margin-right: 100px;
    }
    .fichatec a{
        font-size: 16px;
    }

    .almendras{
        margin-top: 50px;
        align-items: center;
        margin-left: 5px;
        margin-right: 40px;
        margin-bottom: 70px;
    }
    
    .almendras div img{
        width: 250px;
    }

    .mixs h2{
        font-size: 20px;
    }

    .mixs h4{
        font-size: 16px;
    }

    .mixs{
        margin: 0%;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .mixs2{
        margin-left: 20px;
        margin-right: 0%;
        gap: 40px;
        margin-bottom: 700px;
    }

    .mixs2 div img{
        width: 180px;
        height: 200px;
    }

    .mixs2 div h5{
        font-size: 18px;
    }

    .mixs2 div p{
        font-size: 14px;
    }


    /* proceso productivo */

    .origen{
        font-size: 22px;

    }
    .origen1 div p{
        font-size: 16px;
    }

    .origen1 div img{
        width: 200px;
        margin-top: 30px;
        margin-right: 130px;

    }

    .proceso{
        margin-top: 60px;
        font-size: 22px;
    }

    .proceso1 div img{
        width: 220px;
    }

    .procplanta{
        font-size: 22px;
        margin-bottom: 50px;
    }

    .procplanta1{
        display: flex;
        flex-direction: column;
        margin: 0%;
        gap: 50px;
    }

    .procplanta2 h4{
        font-size: 16px;
    }

    .procplanta2 p{
        font-size: 14px;
    }

    .planta5{
        margin: 0%;
        margin-bottom: 40px;
    }
    .asd{
        margin-left: 10px;
        margin-right: 10px;
    }

    .asd h2{
        font-size: 22px;
    }

    .asd h4{
        font-size: 16px;
    }
    .contactos{
        margin-bottom: 0%;
    }

    .contactos div iframe{
        width: 330px;
        height: 330px;
    }

    .contactos3 h3{
        font-size: 22px;
    }


    .contactos3 p{
        font-size: 18px;
    }
    .contactos3 h4{
        font-size: 20px;
    }

    .abrir-menu{
        display: block;
    }

    .head{
        justify-content: space-between;
    }

    

}

@media(max-width: 950px){

        .abrir-menu{
        display: block;
        margin-right: 30px;
        border: 0;
        font-size: 30px;
        background-color: transparent;
        cursor: pointer;
    }
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 30px;
        background-color: transparent;
        cursor: pointer;
        margin-right: 40px;
        margin-top: 30px;
    }

    .nav2{
        opacity: 0;
        visibility: hidden;
    }
    .nav2{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0%;
        right: 0%;
        background-color: #fcfaf7;
        padding-right: 5px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        gap: 5px;
        align-items: center;
        justify-content: center;
    }


    .nav2.visible{
        opacity: 1;
        visibility: visible;
    }
}